/* Explore Menu Container */
.explore-menu {
    text-align: center;
    padding: 20px;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.explore-menu-text {
    margin: 10px 0;
}

.dark-text {
    color: #ccc;
}

/* Sticky Container */
.sticky-container {
    position: relative;
    top: 40px; /* Adjust this value based on your navbar height */
    left: 0;
    width: 100%;
    background-color: inherit;
    z-index: 900; /* Ensure it's below the navbar */
    padding: 21px 0; /* Optional: add some padding around the button group */
}

/* Explore Menu List */
.explore-menu-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

/* Menu Button */
.menu-button {
    border-radius: 0;
    padding: 16px 20px; /* Adjusted padding for button size */
    font-size: 16px; /* Adjusted font size */
    margin: 5px; /* Add margin to prevent buttons from sticking together on small screens */
}

.menu-button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.menu-button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu-button.active {
    background-color: #0056b3;
}

.dark-button.active {
    background-color: #777;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
    .explore-menu {
        padding: 15px;
    }

    .menu-button {
        padding: 12px 18px; /* Reduced padding for smaller screens */
        font-size: 14px; /* Reduced font size for smaller screens */
    }

    .sticky-container {
        top: 60px; /* Adjust top value for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .explore-menu {
        padding: 10px;
    }

    .menu-button {
        padding: 10px 15px; /* Further reduced padding for very small screens */
        font-size: 12px; /* Further reduced font size for very small screens */
    }

    .sticky-container {
        top: 80px; /* Further adjust top value for very small screens */
    }
}
