.takeout-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  height: 400px; /* Adjust this value as needed */
}


.modal-header {
  display: flex;
  justify-content: flex-end;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-content {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.continue-button {
  background-color: #007bff;
  color: white;
}

.continue-button:hover {
  background-color: #0056b3;
}

.modal-header :hover {
  background-color: #0056b3;
}