

.food-item-info {
    padding: 10px; /* Adjust padding to fit within fixed height */
    overflow: hidden; /* Prevent content from overflowing */
    flex: 1; /* Allow this section to grow and take available space */
}

.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}
.food-item-name-rating p {
    font-weight: bold;
  }
.food-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
}

.food-item-name-rating img {
    width: 70px;
}

.dark-input {
    color: white;
}

.light-input {
    color: black; /* or any other color you prefer for light mode */
}

.food-item-options input[type="number"] {
    width: 100px; /* Adjust the width as per your preference */
    padding: 8px; /* Add padding for better appearance */
    font-size: 16px; /* Adjust font size for readability */
    text-align: center; /* Center-align text within the input */
    border: 1px solid #ccc; /* Add a border to the input */
    border-radius: 4px; /* Optional: Rounded corners */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width */
}
