body, html {
   height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.light-theme {
  background-color: skyblue;
  /* Light background color */
  color: #333;
  /* Light text color */
}

.dark-theme {
  background-color: #333;
  /* Dark background color */
  color: #fff;
  /* Dark text color */
}

body {
 
  min-height: 100vh;
  background-color: skyblue;
  /* Default background color */
}

.dark-theme body {
  background-color: #333;
  /* Change body background color in dark mode */
}

.theme-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: white;
  position: fixed;
  top: 14px;
  right: 50px;
  z-index: 2;
}

.dark-theme .theme-button {
  color: white;
  /* Dark mode color */
}

.light-theme .theme-button {
  color: black;
  /* Light mode color */
}

.top-right-corner {
  position: fixed;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.theme-button {
  margin-top: 5%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  /* Adjust the spacing between the icons */
}

@media screen and (max-width: 600px) {
  .theme-button {
      top: 3px; /* Adjust for smaller screens */
      right: 40px; /* Adjust for smaller screens */
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .top-right-corner {
      top: 5px;
      right: 10px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
  }

  .theme-button {
      margin-left: 0;
      margin-top: 5px;
  }
}
