@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
   
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: Outfit;
    scroll-behavior: smooth;
   transition: all 0.3s ease-in-out;
}

a{
    text-decoration: none;
    color:inherit;
}
.app{
  
    width: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
@keyframes identifier {
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
